.do {
  display: inline-block;
}
.do:hover {
  color: var(--text-color);
  animation: shakeit ease 2s forwards;
}

@keyframes shake {
  0% {
    transform: rotate(6deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes shakeit {
  from {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-50px);
  }
  60% {
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(-35px);
  }
  to {
    transform: translateY(0px);
  }
}
