body {
  margin: 0;
  font-family: Charlie Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #5cdb95;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --header-color: #05386b; /* Header */
  --title-color: #379683;
  --body-color: #5cdb95; /* Body */
  --body-2-color: #8ee4af;
  --text-color: #edf5e1; /* Text */
}
